{% extends 'base.html.twig' %}

{% block main %}
    <a class="btn btn-primary btn-light" href="{{ asset('/admin/new') }}">Dodaj artykuł</a>

    <section class="row jumbotron justify-content-md-center text-center admin-aricle">
        <h1>Artykuły na stronie</h1>
    </section>

    <div id="articles">
        {% for article in articles %}
            <section class="row jumbotron justify-content-md-center admin-aricle">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  text-center">
                    {{ article.title }}
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2  text-center">
                    <a class="btn btn-primary btn-light" href="{{ asset('/admin/update/'~article.id) }}">Modyfikuj</a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2  text-center">
                    <div class="btn btn-primary btn-light delete-article" data-id="{{ article.id }}">Usuń </div>
                </div>

            </section>
        {% endfor %}
    </div>
{% endblock %}