{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}
{% block slider %}{% endblock %}

{% block main %}

    <div class="article-body">
        <div class="thumbnail text-center">
            <img class="img-thumbnail article-img" src="{{ asset(article.image) }}" alt="Article Image">
            <div class="carousel-caption article-caption">
                <p class="h2">{{ article.title }}</p>
            </div>
        </div>
    </div>

        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
               <p class="lead text-justify">
                    {{ article.ArticleBody }}
                </p>
            </div>
        </div>


{% endblock %}

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src ="../build/js/app.js"></script>
{% endblock %}